body
{
    background-color: rosybrown;
}

li a:link {
    color: coral;
}

li a:visited {
    color: greenyellow;
}

li a:hover {
    background-color: darkred;
}

#firma{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    position: relative;
}
#foto1{
    float: right;
    border: medium;
    border-left: medium;
}
#foto2{
    float: left;
    border: medium;
    border-right: medium;
}
.p{
    text-justify: inter-cluster;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    border-block-color: burlywood; 
   
}

#myForm {
    display: inline;
    position: center;
    right: 15px;
    border-block-color: crimson;
    background-color: lightyellow;
}

#disiscriviti {
    background-color: brown;
    display: inline;
}


#iscriviti{
    background-color: yellow;
    color: red;
    display: inline;
}